
Bitte, versetzen Sie sich in eine Situation ( Beruf oder Privatleben ). Entscheiden Sie nun in jeder
Wortgruppe, welcher Begriff am „besten / ehesten“ zu Ihnen passt, und geben Sie diesem Begriff
4 Punkte. Entscheiden Sie als nächstes, welcher Begriff am „wenigsten“ zu Ihnen passt, und geben
Sie diesem einen Punkt. Entscheiden Sie nun, welcher der „zweitbeste“ ist ( 3 Punkte ), und welcher
der „zweitschlechteste“ ( 2 Punkte ). Tragen Sie die Punktzahl in die Spalte „A“ ein … Gehen Sie
bitte zügig und aus dem „Bauch heraus“ vor. ( max. 5 Minuten )  


	A	B
optimistisch		
selbstsicher		
genau		
harmonisch		
	A	B
ergebnisorientiert		
beständig		
enthusiastisch		
selbstdiszipliniert		

	A	B
nachdenkend		
kontaktfreudig		
zuhörend		
wagemutig		
                                                                                 
	A	B
positiv		
risikofreudig		
zurückhaltend		
unterstützend		
	A	B
geduldig		
spontan		
entscheidungsfreudig		
kontrolliert		
	A	B
kritisch		
impulsiv		
zuverlässig		
zielorientiert		


	A	B
gesellig		
unauffällig		
furchtlos		
strukturiert		
	A	B
bestimmend		
sorgfältig		
teamfähig		
begeistert		
	A	B
vertrauensvoll		
analytisch		
beliebt		
kraftvoll		

	A	B
hartnäckig		
überzeugend		
planend		
vermittelnd		


















Bitte, übertragen Sie Ihre Punktzahl vom Kurztest, in der identischen Reihenfolge, in die Spalte „A“. 
Addieren  Sie anschließend alle Punkte, die Sie einem Buchstaben zugeordnet haben. Tragen Sie
die Gesamtpunktzahl im unteren Kästchen ein. Kontrolle: Die Gesamtpunktzahl aller Buchstaben
muss 100 sein. 



	A	B
optimistisch		I
selbstsicher		D
genau		G
harmonisch		S
	A	B
ergebnisorientiert		D
beständig		S
enthusiastisch		I
selbstdiszipliniert		G

	A	B
nachdenkend		G
kontaktfreudig		I
zuhörend		S
wagemutig		D
                                                                                 
	A	B
positiv		I
risikofreudig		D
zurückhaltend		G
unterstützend		S
	A	B
geduldig		S
spontan		I
entscheidungsfreudig		D
kontrolliert		G
	A	B
kritisch		G
impulsiv		I
zuverlässig		S
zielorientiert		D


	A	B
gesellig		I
unauffällig		S
furchtlos		D
strukturiert		G
	A	B
bestimmend		D
sorgfältig		G
teamfähig		S
begeistert		I
	A	B
vertrauensvoll		S
analytisch		G
beliebt		I
kraftvoll		D

	A	B
hartnäckig		D
überzeugend		I
planend		G
vermittelnd		S




D	
I	
S	
G


			










	Name: 	¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬________________________
	
	Datum:  	________________________

	Rolle:    	________________________
